.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #133c55;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  margin-left: 5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
